*, html {
	padding: 0px;
	margin: 0px;
}

p {
  margin-bottom: 15px;
}

body {
	background: #eeecdb url('../images/theme/default/background.png');
	font-family: "Georgia", "Times New Roman", "Arial";
	font-size: 14px;
}

/* HOMEPAGE */

div#header {
	width: 100%;
	height: 486px;
	background: url('../images/theme/default/bg-header.png') repeat-x center top;
	text-align: center;
}

div#top {
	width: 960px;
	height: 94px;
	margin: 0 auto;
	text-align: left;
}

img.logo {
  border:0;
  padding-top:3px;
}

div#middle {
	width: 990px;
	height: 392px;
	background: url('../images/theme/default/header-light.png') no-repeat center top;
	margin: 0 auto;
	text-align: left;
}

div#middle div#m-left {
	float: left;
	width: 460px;
	position: relative;
	margin-left: 15px;
}

div#slogan {
	color: #212726;
	font-size: 16px;
	line-height: 26px;
}

div#slogan p {
	margin-top: 10px;
}

div#featured {
	width: 492px;
	height: 357px;
	background: url('../images/theme/default/bg-featured.png') no-repeat;
	float: right;
	margin-top: 17px;
}

div.slideshow {
	margin: 41px 0px 0px 35px;
	position: relative;
	z-index: 1;
}

div#content {
	width: 100%;
	color: #574e48;
	text-align: center;
	line-height: 26px;
	background: url('../images/theme/default/bg-content.png') repeat-x center top;
  min-height: 200px;
}

div#content div.inner {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	padding-top: 40px;
}

div#content strong {
	color: #2c2927;
}

div.panel {
	width: 290px;
	float: left;
	margin-right: 40px;
}

div.plast {
	margin-right: 0px;
}

div.line {
	font-size: 0px;
	width: 289px;
	height: 19px;
	background: url('../images/theme/default/line-short.png');
}

div.line-medium{
	font-size: 0px;
	width: 635px;
	height: 19px;
	background: url('../images/theme/default/line-medium.png');
}

div.line-wide{
	font-size: 0px;
	width: 960px;
	height: 19px;
	background: url('../images/theme/default/line-wide.png');
}

div.line-p {
	margin-bottom: 20px;
}

div.t-author {
	display: block;
	text-align: right;
	margin-top: 10px;
}

div#buttons {
	width: 100%;
	margin-top: 20px;
}

div#buttons span {
	display: block;
	float: left;
	line-height: 36px;
	font-size: 16px;
	color: #000;
	text-align: center;
	width: 40px;
}

div#clients {
	margin-top: 35px;
}

div#footer {
	background: #222222 url('../images/theme/default/bg-footer.png') repeat-x center top;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #e4e2d2;
	margin-top: 70px;
}

div#footer div.inner {
	margin: 0 auto;
	width: 960px;
	padding: 65px 0px 50px 0px; 
}

div#footer div.left {
	float: left;
}

div#footer div.right {
	float: right;
}

div#footer ul {
	list-style-type: none;
}

div#footer ul li {
	display: inline;
	margin-left: 10px;
}

/* SUBPAGE */

div#header-sub {
	width: 100%;
	height: 210px;
	background: url('../images/theme/default/bg-header-subpage.png') repeat-x center top;
	text-align: center;
}

div#middle-sub {
	width: 960px;
	height: 116px;
	background: url('../images/theme/default/header-light.png') no-repeat center top;
	margin: 0 auto;
	text-align: left;
}

div#sidebar {
	width: 310px;
	background: url('../images/theme/default/sidebar-bg.png') repeat-y right top;
	float: left;
}

div#sidebar-top {
	width: 310px;
	background: url('../images/theme/default/sidebar-bg-top.png') no-repeat right top;
}

div#sidebar-bottom {
	width: 310px;
	background: url('../images/theme/default/sidebar-bg-bottom.png') no-repeat right bottom;
}

div#sidebar div.sidebar-inner {
	width: 235px;
}

ul.subnav {
	list-style-type: none;
	margin: 22px 0px 30px 0px;
	padding: 1px 0px 0px 0px;
	width: 235px;
	background: url('../images/theme/default/sidebar-nav.png') repeat-x left top;
}

ul.subnav li {
	height: 41px;
	display: block;
}

ul.subnav li a {
	display: block;
	width: 220px;
	height: 41px;
	background: url('../images/theme/default/sidebar-nav.png') repeat-x left bottom;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	color: #394742;
	padding-left: 15px;
}

ul.subnav li.current a {
	background: url('../images/theme/default/sidebar-nav-highlighted.png') repeat-x left bottom;
	color: #000;
}


ul.subnav li a:hover {
	background: url('../images/theme/default/sidebar-nav-highlighted.png') repeat-x left bottom;
}

div.sidebar-blogpost {
	padding-bottom: 20px;
	font-size: 12px;
}

div.blogpost p {
	margin-bottom: 50px;
}

div.sidebar-blogpost p.details {
	font-size: 11px;
	position: relative;
	top: -6px;
}

div.sidebar-blogpost h4 {
	margin-bottom: 0px;
	font-size: 14px;
}

div#main {
	width: 635px;
	float: right;
	position: relative;
}

div#main p {
	margin-bottom: 16px;
}

div.wide p {
	margin-bottom: 16px;
}

div#sidebar p {
	margin-bottom: 0px;
}

div#sidebar div.line {
  width: 259px;
}

div#content div.box {
	width: 290px;
	float: left;
	margin: 0px 45px 45px 0px;
}

div#content div.bright {
	margin: 0px 0px 45px 0px;
}

div.blogpost {
	margin-bottom: 10px;
	background: url('../images/theme/default/line-medium.png') no-repeat center bottom;
	padding-bottom: 45px;
}

div.noborder {
	background: none;
	padding-bottom: 0px;
}

div.blogpost h2{
	margin-bottom: 2px;
}

div.blogpost img {
	padding: 6px;
	background: #fff;
	border: 1px solid #e0dece;
	float: right;
	margin: 10px 0px 10px 10px;
}

div.comment {
	margin: 25px 0px;
}

span.name {
	font-weight: bold;
}

span.details {
	font-size: 12px;
	position: relative;
	top: -3px;
}

div.pagination {
	text-align: right;
	font-size: 16px;
}

div.pagination a {
	padding: 0px 5px;
	text-decoration: none;
}

div.pagination a.current {
	color: #000;
	text-decoration: underline;
}

div.pagination a:hover {
	text-decoration: underline;
}

/* CONTACT FORM */

input.contact-text {
	width: 404px !important;
	height: 19px !important;
	background: url('../images/theme/default/form-text.png') no-repeat left top !important;
	border: none !important;
	margin-bottom: 10px !important;
	padding: 10px !important;
	font: 14px "Georgia", "Arial" !important;
}

textarea.contact-textarea {
	width: 404px !important;
	height: 156px !important;
	border: none !important;
	background: url('../images/theme/default/form-message.png') no-repeat left top !important;
	margin-bottom: 10px !important;
	padding: 10px !important;
	font: 14px "Georgia", "Arial" !important;
}

input.contact-submit {
	width: 130px !important;
	height: 36px !important;
	border: none !important;
	background: url('../images/theme/default/form-submit.png') no-repeat left top !important;
	margin: 0px !important;
	cursor: pointer !important;
	outline: none !important;
}

img.loaderIcon {
	position: absolute;
	left: 450px;
	top: 20px;
}

/* NAVIGATION */

div#navigation {
	float: right;
	position: relative;
	top: 33px;
	z-index: 2;
}

#nav, #nav ul{
     margin: 0px;
     padding: 0px;
     list-style-type: none;
     list-style-position: outside;
     position: relative;
	 line-height: 30px;
	 margin-left: 0px;
	 z-index: 2;
 }
 
#nav a:link, #nav a:active, #nav a:visited{
    display: block;
    color: #c7dad5;
    text-decoration: none;
	font-size: 18px;
 }


#nav li.current a {
	color: #fff;
}

#nav li.current ul a{
    color: #c7dad5;
}

#nav a:hover{
   color: #fff;
}

#nav li.current ul a:hover{
    color: #fff;
}

#nav li{
    float:left;
    position:relative;
	margin-left: 25px;
}

#nav ul {
    position:absolute;
    width:12em;
    top:30px;
    display:none;
	margin-left: 0px;
}

#nav ul li{
	margin-left: 0px;
	background: #000;
	position: relative;
	z-index: 5;
}

#nav li ul a{
    width:12em;
    float:left;
	height: 35px;
	line-height: 35px;
}

#nav ul ul{
	top:auto;
	}	

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
    }

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
    }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
    }

li.drop {
	background: url('../images/theme/default/nav-arrow.png') no-repeat;
	background-position: 0px 13px;
}

li.drop a {
	padding-left: 15px;
}

/* NAVIGATION ENDS */

/* TABS */

div.tabs {
	width: 100%;
	height: 45px;
}

div.tabs div.left {
	float: left;
}

div.tabs div.right {
	float: right;
	padding-right: 40px;
}

div.tabs div.right ul {
	float: right;
	height: 38px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	top: 3px;
}

div.tabs div.right li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

div.tabs div.right a {
	height: 38px;
	line-height: 38px;
  	float: left;
  	margin: 0px 0px 0px 3px;
  	padding: 0px 0px 0px 11px;
  	text-decoration: none;
	cursor: pointer;
	position: relative;
	top: 5px;
}
	
div.tabs div.right a span {
	font: 14px "georgia", "arial";
	color: #3a3633;
	height: 38px;
	line-height: 38px;
   	float: left;
   	display: block;
	padding: 0px 18px 0px 7px;
}
	
div.tabs div.right li.current a {
	background: url('../images/theme/default/tab-left.png') no-repeat left top;
}
	
div.tabs div.right li.current a span {
	background: url("../images/theme/default/tab-right.png") no-repeat right top;
	color: #000;
}

div.tabs div.right a:hover span {
	color: #000;
}

/* TABS ENDS */

/* TITLES */

h1 {
	font-size: 48px;
	color: #141615;
	font: normal 48px Georgia, Arial, Verdana, Helvetica, sans-serif;
	line-height: 48px;
	padding-top: 28px;
}

div#middle-sub h1 {
	padding-top: 34px;
	position: relative;
	z-index: 1;
}

h2 {
	color: #2c2927;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 15px 0px
}

div#clients h2 {
	color: #2c2927;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 15px 0px
}

h3 {
	color: #2c2927;
	font-size: 18px;
	font-weight: bold;
	margin: 8px 0px 8px 0px
}

h4 {
	font-size: 16px;
	font-weight: bold;
	color: #2c2927;
	margin-bottom: 10px;
}

h5 {
	font-size: 16px;
	font-weight: normal;
	color: #2c2927;
}

h6 {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	color: #2c2927;
}

/* TABLES */

table.normal {
	width: 100%;
	border-collapse: collapse;
	border: none;
	background: url('../images/theme/default/table-row.png') repeat-x center bottom;
	margin-bottom: 25px;
}

table.normal td {
	padding: 10px;
	background: url('../images/theme/default/table-col.png') repeat-y right top;
}

table.normal th {
	padding: 10px;
	background: url('../images/theme/default/table-col.png') repeat-y right top;
	color: #2c2927;
	text-align: left;
}

table.normal td.center {
	text-align: center;
}

table.normal td.last {
	background: none;
}

table.normal th.center {
	text-align: center;
}

table.normal th.last {
	background: none;
}

table.normal tr {
	background: url('../images/theme/default/table-row.png') repeat-x left top;
}

table.normal tr.caption {
	background: url('../images/theme/default/table-caption.png') repeat-x left top;
}

/* LIST */

ul {
	list-style-type: disc;
	margin: 0px 0px 15px 35px;
}

ol {
	margin: 0px 0px 15px 35px;
}

li {
	margin: 0px;
}

ul#response {
	list-style-type: none;
}

/* LINKS */

a {
	text-decoration: underline;
	color: #485e57;
	outline: none;
}

a.readmore {
	display: block;
	text-align: right;
	margin-top: 10px;
}

a:hover {
	text-decoration: none;
}

a.button {
	display: block;
	float: left;
	width: 130px;
	height: 36px;
}

a.blearnmore {
	background: url('../images/theme/default/button-learn-more.png') left top;
}

a.bsignup {
	background: url('../images/theme/default/button-sign-up.png') left top;
}

a.button:hover {
	background-position: 0px -36px;
}

div#footer a {
	color: #e4e2d2;
	text-decoration: none;
}

div#footer a:hover{
	text-decoration: underline;
}

/* IMGS */

img.header-arrow {
	position: absolute;
	left: 375px;
	top: 300px;
}

img.normal {
	padding: 6px;
	background: #fff;
	border: 1px solid #e0dece;
}

img.right {
	float: right;
	margin: 10px 0px 10px 10px;
}

img.left {
	float: left;
	margin: 10px 10px 10px 0px;
}

img.avatar {
	padding: 6px;
	background: #fff;
	border: 1px solid #e0dece;
	margin: 0px 10px 10px 0px;
	float: left;
}


/* OTHER */

div.clear {
	clear: both;
}

