---
layout: subpage
title: A festa
subtitle: Festa dos tempos de Jesus
---

#content
  .inner
    .clearfix
      :markdown
        ## A festa
        Neste ano teremos uma festa tematizada nos tempos de Jesus.

        ## Como se vestir?
        Os trajes para esta festa serão roupas baseadas nas vestes da época que o Senhor Jesus viveu entre nós.

        Se você pensa que é só colocar um lençol sobre o corpo e já está fantasiado, está muito enganado! Que tal
        pesquisar um pouco mais? Você poderá se surpreender com as roupas usadas a mais de 2000 atrás!

        Mostre-nos a sua criatividade como nos últimos anos e vamos nos divertir! Mas não se esqueça: a roupa é um 
        detalhe, a sua presença é a coisa mais importante! Portanto, não se acanhe!

        Em breve colocaremos no ar algumas idéias para inspirar ainda mais vocês!
