---
layout: subpage
title: Local
subtitle: Lagoa do Bonfim
---

#content
  .inner
    .panel
      %h2 Local
      .line
      %p
        Pelo terceiro ano o evento irá ser realizado no <strong><a href='http://www.mardunas.com.br/'>Mardunas Centro de Eventos</a></strong>.

        %p Localizado na Lagoa do Bonfim, aproximadamente 30 minutos da cidade de Natal/RN, o Mardunas possui uma excelente estrutura que está pronta para receber mais de 800 participantes no evento.
    .panel
      %h2 Como chegar
      .line
      = image_tag('content/mardunas_mapa.gif', :width => '280px')
    .panel.plast
      %h2 Fotos do local
      .line
      #gallery
        - %w(diversao diversao_lagoa dormitorio_externo piscina refeitorio refeitorio_entrada refeitorio_mesas).each do |image|
          %a{ :href => "images/content/mardunas_#{image}.jpg" }
            = image_tag("content/mardunas_#{image}_thumb.jpg", :width => 72, :height => 72)

