---
layout: subpage
title: Inscrição
subtitle: Seu lugar foi garantido bixim!
---

#content
  .inner
    .clearfix
      :markdown
        Parabéns! Seu lugar no Retiro Nordestão foi garantido. Acesse seu email para verificar os dados de sua inscrição e escolher as atividades que você vai participar!  
        Até já já!

