---
layout: subpage
title: Notícias
subtitle: Matenha-se informado!
---

#content
  .inner
    .clearfix
      :markdown
        ##Fique antenado nas novidades do nosso retiro
        
        Clique [aqui](http://eepurl.com/AgI3) para receber as notícias do retiro direto no seu e-mail!
