---
layout: subpage
title: Inscrição
subtitle: Inscreva-se para o retiro
---

#content
  .inner
    .clearfix
      :markdown
        ##Data limite para se inscrever
        As inscrições serão finalizadas no dia **29 de Julho** e não será permitido efetuar inscrições no dia do retiro.  
        Caso tenha perdido o período de inscrições entre em contato conosco através do e-mail: **inscricoes@retironordestao.com.br**

        ##Formas de pagamento
        O pagamento do retiro será realizado por meio de depósito em conta.  
        Em breve mais detalhes da conta e do valor do retiro...

        ##Inscreva-se
        Em breve serão abertas as inscrições...
