---
layout: default
title: Notícias
---

#bodymainmiddlePan
  #bodymiddlePan
    :markdown
      ##Fique antenado nas novidades do nosso retiro
      
      Em breve você poderá acompanhar por nosso site tudo que está acontecendo no retiro!
