---
layout: default
title: O retiro
---

#middle
  #m-left
    #slogan
      :markdown
        # O retiro
        Com o objetivo de **unir**, **promover a comunhão** e a **edificação mútua** entre os jovens de estados vizinhos deste Nordeste tão maravilhoso, o **Retiro Nordestão** chega a sua 6<sup>a</sup> edição!

        Venha fazer parte deste grupo de jovens que estarão reunidos em busca da **imagem e semelhança de Cristo** em um retiro único!
    #buttons
      %a.button.bsignup(href='/inscricoes')
  #featured
    .slideshow
      %img(alt="Comunhão" width="420" height="270" src="images/theme/featured/01.jpg")
      %img(alt="Ministração" width="420" height="270" src="images/theme/featured/02.jpg")
      %img(alt="Diversão" width="420" height="270" src="images/theme/featured/03.jpg")
      %img(alt="Adoração" width="420" height="270" src="images/theme/featured/04.jpg")
#content
  .inner
    .panel
      %h2 Quando
      .line
      %p O retiro ocorrerá de <strong>8 à 11 de Julho de 2010</strong> iniciando na quinta-feira com um jantar e terminará com o café-da-manhã do domingo.
    .panel
      %h2 Onde
      .line
      %p Por mais um ano o retiro ocorrerá em frente à <strong>Lagoa do Bonfim</strong> no centro de eventos <strong>Mardunas</strong>.
      %p Um centro de eventos com uma excelente localização à <strong>30 minutos de Natal</strong>.
      %a.readmore(href='/local') ...veja mais
    .panel.plast
      %h2 Inscreva-se
      .line
      %p Em breve serão abertas as inscrições...
      %a.readmore(href='/inscricoes') ...veja mais
