---
layout: subpage
title: Inscrição
subtitle: Inscreva-se para o retiro
---

#content
  .inner
    .clearfix
      :markdown
        ##Período para se inscrever
        As inscrições após abertas serão finalizadas no dia 29 de Julho e não será permitido efetuar inscrições no dia do retiro.  
        Caso tenha perdido o período de inscrições entre em contato conosco através do e-mail: inscricoes@retironordestao.com.br

        ##Formas de pagamento
        Este ano o retiro poderá ser pago de duas formas: boleto bancário e com cartão de crédito.

        ### Boleto
        O pagamento do boleto poderá ser efetuado até 10 dias antes do início do retiro.
        Ao efetuar o pagamento sua inscrição será confirmada automaticamente em no máximo três dias úteis.

        ###Cartão de crédito
        O pagamento também poderá ser efetuado utilizando cartão de crédito dando a possibilidade de parcelar o valor da inscrição.
        Após confirmado o pagamento do cartão pela sua operadora automaticamente sua inscrição será confirmada.

        ##Inscreva-se
        Em breve serão abertas as inscrições...
