---
layout: subpage
title: Inscrição
subtitle: Inscreva-se para o retiro
---

#content
  .inner
    .clearfix
      :markdown
        ##Formas de pagamento
        O pagamento do retiro será realizado por meio de **depósito em conta** e poderá ser **dividido em três parcelas** que podem ser pagas no dia 10 dos meses de Maio, Junho e Julho.  
        Para confirmar seu pagamento é necessário enviar o **comprovante do seu depósito** para [inscricoes@retironordestao.com.br](mailto:inscricoes@retironordestao.com.br).

        ##Conta
        Os valores deverão ser depositados na seguinte conta:

        **Caixa Econômica Federal**  
        **AGÊNCIA:** 2044  
        **OPERAÇÃO:** 013  
        **CONTA:** 57836-0  
        **ELCY WAGNER COSTA DE OLIVEIRA**

        ##Observacao
        No formulário de inscrição onde está escrito **Profissão** você dirá o **nome do pastor** a quem você está vinculado. Aonde está escrito **Empresa** informe o nome do seu discipulador.

        ##Valores
      %iframe{:src => "http://participe.de/events/retiro-nordestao.iframe?css=http://retironordestao.com.br/css/participede.css", :width => '700px', :height => '250px', :scrolling => 'no', :frameborder => "0", :id => 'subscription-iframe'}

