---
layout: subpage
title: Formas de pagamento
subtitle: Mais praticidade no pagamento
---
#content
  .inner
    .clearfix
      :markdown
        ##Formas de pagamento
        Este ano a forma de pagamento do retiro foi mudada. Agora você poderá pagar sua inscrição de duas formas: boleto bancário e com cartão de crédito.  

        ### Boleto
        O pagamento do boleto poderá ser efetuado até 10 dias antes do início do retiro.

        ###Cartão de crédito
        O pagamento também poderá ser efetuado utilizando cartão de crédito dando a possibilidade de parcelar o valor da inscrição.

        ### Nada mais de comprovantes
        A sua inscrição será confirmada automaticamente após paga. Não é mais necessário enviar comprovantes para a organização do evento.  
        Ao efetuar o pagamento por meio de boleto bancário sua inscrição será confirmada automaticamente em no máximo três dias úteis.  
        Ao efetuar o pagamento com cartão de crédito e havendo confirmação da sua operadora de cartão sua inscrição será automaticamente confimada.


        <a href='/inscricoes'>O que está esperando? Inscreva-se!</a>  

